body {
    font-family: sans-serif;
}
header{
background-color:#000080 ;
padding: 10px;
border-radius: 10px;
}
b{
color: white
}
header a{
color: white;
}
h1{
color: #FF8C00;
}
footer p{
background-color:#00FF00;
}
p p{
background-color:#FF4500 ;
}
h2{
color:#FF0000;
}
